*{
    margin: 0;
    padding: 0;
    
}


.navbar{
    background-color: red;
    margin: 0px;
    padding: 10px;
}

 .navbar, li{
    text-decoration: none;
}

.text1{
    justify-content:center;
    align-items:center;
    text-align: center;
    margin:10px;
    font-size:30px;

}

.d-flex{
    margin: 30px;
    padding: 50px;
}

.card-deck{
    width: 300px;  
height: auto;  
text-align: center;  
padding: 15px;  
position: flex;
}

.input-group{
    margin: 20px;
    padding: 20px;
    align-items:center;
    justify-content: center;
}



.container {
    display: flex;
}
